@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Lab4.Models.Student

@{
    ViewData["Title"] = "Display Student";
}

<h2 class="text-center">Student Details</h2>

<div class="container">
    <table>
        <tr>
            <td class="label">First Name</td>
            <td class="value">@Model.FirstName</td>
        </tr>
        <tr>
            <td class="label">Last Name</td>
            <td class="value">@Model.LastName</td>
        </tr>
        <tr>
            <td class="label">Email</td>
            <td class="value">@Model.Email</td>
        </tr>
        <tr>
            <td class="label">Password</td>
            <td class="value">@Model.Password</td>
        </tr>
        <tr>
            <td class="label">Description</td>
            <td class="value">@Model.Description</td>
        </tr>
    </table>
</div>